<div class="container">
  <h1>Angular.js unit conversion tool</h1>

  <div class="col-md-12">
    Select a category
    </br>
    <select ng-model="conversion.selectedCategory"
    ng-options="category as category.name for category in conversion.categories"
    ng-change="conversion.updateConvertedUnitValue()"></select>
  </div>

  <div class="col-md-4">
    Select initial unit
    </br>
    <select ng-model="conversion.currentUnit"
    ng-options="unit as unit.name for unit in conversion.selectedCategory.units"
    ng-change="conversion.updateConvertedUnitValue()"></select>
  </div>

  <div class="col-md-4">
    Initial unit value
    </br>
    <input ng-model="conversion.currentUnitValue" type="number" class="form-control"
    ng-change="conversion.updateConvertedUnitValue()">
  </div>

  <div class="col-md-4">
    Output
    </br>
    <ul>
      <li ng-repeat="unit in conversion.convertedUnitValues" ng-if="conversion.convertedUnitValues !== 'N/A'">
        <strong>{{unit.name}}:</strong> {{unit.value}}
      </li>
    </ul>
  </div>

  <div class="col-md-12">
    <a class="btn btn-primary" href="#/units">Favorite Units</a>
    <a class="btn btn-primary" href="#/custom-formulas">Custom Formulas</a>
  </div>
</div>
