<div class="container">
  <h1>Formulas</h1>
  <div>
    <h2>Select a category</h2>
    <select ng-model="customCtrl.selectedCategory"
    ng-options="category as category.name for category in customCtrl.categories"
    ng-change="customCtrl.baseUnit = customCtrl.selectedCategory.units[0]"></select>

    Base Unit: {{customCtrl.baseUnit.name}}
  </div>
  <div class="col-md-12">
    <div ng-repeat="unit in customCtrl.selectedCategory.units" ng-if="!unit.isBaseUnit">
      <h4>{{unit.name}}</h4>
      <div>
        <strong>{{customCtrl.baseUnit.name}}</strong> = <strong>{{unit.name}}</strong> * {{unit.conversionSlope}} + {{unit.conversionOffset}}
      </div>
      <a class="btn btn-danger" ng-click="customCtrl.deleteFormula($index)" ng-if="unit.isCustom">Delete Formula</a>
    </div>
  </div>
  <div class="col-md-12">
    <h3>New Unit</h3>
    <form name="formulaForm" ng-submit="formulaForm.$valid && customCtrl.addFormula()" novalidate>
      <input name="unitName" ng-model="customCtrl.newFormula.name" required placeholder="Unit Name"/>
      <br>
      {{customCtrl.baseUnit.name}} = {{customCtrl.newFormula.name}} *
      <input ng-model="customCtrl.newFormula.conversionSlope" type="number" required> +
      <input ng-model="customCtrl.newFormula.conversionOffset" type="number" required>
      <input class="btn btn-primary" ng-show="formulaForm.$valid" type="submit" value="Submit"/>
    </form>
  </div>
  <div class="col-md-12">
    <a class="btn btn-primary" href="#/">Back</a>
  </div>
</div>
